.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-bottom: 20px;
  color: var(--text-primary-color);
}

.constructor_list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.scroll_area {
  max-height: 495px;
  overflow: auto;
}

.price_bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  padding-right: 24px;
}
