.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin-top: 100px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  max-width: 1240px;
  margin: 0 auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

.link {
  padding: 17px 0;
  text-decoration: none;
}

.link_active {
  color: var(--text-primary-color);
  text-decoration: none;
}

.content {
  height: 100vh;
  overflow: auto;
}

.logoutButton {
  all: unset;
  padding: 17px 0 !important;
  cursor: pointer;
}
