.wrapper {
  position: fixed;
  top: 50%;
  right: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 720px;
  padding: 40px 40px 60px;
  transform: translate(-50%, -50%);
}

.title {
  align-self: center;
}
