.modal {
  position: fixed;
  top: 50%;
  right: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 720px;
  padding: 40px 40px 60px;
  background-color: var(--background-alt);
  border-radius: 40px;
  transform: translate(-50%, -50%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_no_title {
  display: flex;
  justify-content: flex-end;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
}
