.ingredient_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.main_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.image {
  width: 480px;
  height: 240px;
  object-fit: cover;
}

.composition {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.composition_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.title {
  text-align: center;
}
